.content {
  display: flex;
}

.left_side_wrapper {
  margin: 0 auto;
  display: flex;
  margin-top: 70px;
  width: 16%;
  height: auto;
  background: #fff;
  border: 1px solid #BFCBD9;
}

.left_side_wrapper .active .link {
  background-color: #5101D1;
  color: #fff;
}

.loader_wrap {
  display: flex;
  justify-content: center;
}